/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../scss/screen.scss */
.column-6 {
  width: 120px;
}

/* line 23, ../scss/screen.scss */
.column-3 {
  width: 260px;
}

/* line 27, ../scss/screen.scss */
.column-2, #main-wrapper #home-page .group-left, #main-wrapper .node-project .group-left, #main-wrapper .node-webform .field-name-body {
  width: 400px;
}

/* line 31, ../scss/screen.scss */
.column-gutter {
  margin-right: 20px;
}

/* line 35, ../scss/screen.scss */
.column-float {
  float: left;
}

/* line 39, ../scss/screen.scss */
.full-column-float, #main-wrapper #home-page, #main-wrapper #profile-page, #main-wrapper .node-project, #main-wrapper .node-webform {
  position: relative;
  width: 840px;
}

/* line 44, ../scss/screen.scss */
.column-4-float {
  position: relative;
  width: 560px;
}

/* line 49, ../scss/screen.scss */
.column-3-float, #main-wrapper #home-page .group-right, #main-wrapper .node-project .group-right, #main-wrapper .node-webform .webform-client-form {
  position: relative;
  width: 420px;
}

/* line 54, ../scss/screen.scss */
body {
  background: #848484;
  color: #FFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

/* line 62, ../scss/screen.scss */
a {
  color: #4a622b;
  text-decoration: none;
}
/* line 65, ../scss/screen.scss */
a:hover {
  color: #c1ff6f;
}

/* line 70, ../scss/screen.scss */
#page-wrapper {
  background: #9C9C9C;
  margin: 100px auto;
  padding: 5px;
  width: 950px;
}

/* line 77, ../scss/screen.scss */
#header {
  background: url("img/header.bg.png") no-repeat center center;
  font-size: 14px;
  height: 145px;
  position: relative;
}
/* line 82, ../scss/screen.scss */
#header #logo {
  left: 65px;
  position: absolute;
  top: 50px;
}
/* line 88, ../scss/screen.scss */
#header #block-system-main-menu {
  float: right;
}
/* line 91, ../scss/screen.scss */
#header #block-system-main-menu .content ul.menu {
  display: inline-block;
  list-style: none;
  margin: 50px 65px 10px 0;
}
/* line 95, ../scss/screen.scss */
#header #block-system-main-menu .content ul.menu li {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
/* line 100, ../scss/screen.scss */
#header #block-system-main-menu .content ul.menu li a {
  color: #4A622B;
  text-decoration: none;
}
/* line 104, ../scss/screen.scss */
#header #block-system-main-menu .content ul.menu li a.active, #header #block-system-main-menu .content ul.menu li a:hover {
  color: #C1FF6F;
}

/* line 114, ../scss/screen.scss */
#main-wrapper {
  padding: 65px;
}
/* line 117, ../scss/screen.scss */
#main-wrapper h1,
#main-wrapper h2 {
  color: #c1ff6f;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5em;
}
/* line 125, ../scss/screen.scss */
#main-wrapper p {
  margin-bottom: 1.5em;
}
/* line 129, ../scss/screen.scss */
#main-wrapper textarea,
#main-wrapper input.form-text {
  background: white;
  border: 1px solid #4a622b;
  padding: 4px;
  width: 380px;
}
/* line 135, ../scss/screen.scss */
#main-wrapper textarea {
  width: 388px;
}
/* line 141, ../scss/screen.scss */
#main-wrapper #home-page .group-left {
  margin-right: 20px;
}
/* line 148, ../scss/screen.scss */
#main-wrapper #home-page img {
  border: 1px solid #c1ff6f;
  margin-bottom: 20px;
}
/* line 156, ../scss/screen.scss */
#main-wrapper #profile-page .group-left {
  margin-right: 20px;
  width: 520px;
}
/* line 160, ../scss/screen.scss */
#main-wrapper #profile-page .group-right {
  width: 260px;
}
/* line 167, ../scss/screen.scss */
#main-wrapper .node-project .group-left {
  margin-right: 20px;
}
/* line 174, ../scss/screen.scss */
#main-wrapper .node-project .group-right .field-type-image .main-image {
  border: 1px solid #c1ff6f;
  margin-bottom: 20px;
}
/* line 179, ../scss/screen.scss */
#main-wrapper .node-project .group-right .field-type-image .field-items .field-item {
  float: left;
  margin: 0 20px 20px 0;
}
/* line 182, ../scss/screen.scss */
#main-wrapper .node-project .group-right .field-type-image .field-items .field-item img {
  border: 1px solid #c1ff6f;
  display: block;
  height: 88px;
  line-height: 0;
  width: 118px;
}
/* line 197, ../scss/screen.scss */
#main-wrapper .node-webform .field-name-body {
  clear: left;
  float: left;
  margin-right: 20px;
}
/* line 203, ../scss/screen.scss */
#main-wrapper .node-webform .webform-client-form {
  float: right;
  top: -11px;
}

/* line 211, ../scss/screen.scss */
.field-type-image {
  margin-bottom: 20px;
}
/* line 213, ../scss/screen.scss */
.field-type-image a {
  border: 1px solid #c1ff6f;
  display: block;
  line-height: 0;
}

/* line 220, ../scss/screen.scss */
.panels-flexible-region {
  width: 100%;
}

/* line 225, ../scss/screen.scss */
.item-list .pager {
  padding-right: 40px;
}
