/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$link: #4A622B;
$hover: #C1FF6F;

$columns: 6;
$gutter: 20px;
$siteWidth: 820px;

$column6: ( $siteWidth - ( $gutter * 5 ) ) / 6;
$column3: $column6 * 2 + $gutter;
$column2: ( $column6 * 3 ) + ( $gutter * 2 );

.column-6 {
    width: $column6;
}

.column-3 {
    width: $column3;
}

.column-2 {
    width: $column2;
}

.column-gutter {
    margin-right: $gutter;
}

.column-float {
    float: left;
}

.full-column-float {
    position: relative;
    width: $siteWidth + $gutter;
}

.column-4-float {
    position: relative;
    width: ( $column3 * 2 ) + ( $gutter * 2 );
}

.column-3-float {
    position: relative;
    width: $column2 + $gutter;
}

body {
  background: #848484;
  color: #FFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: $hover;
  }
}

#page-wrapper {
  background: #9C9C9C;
  margin: 100px auto;
  padding: 5px;
  width: 950px;
}

#header {
  background: url( 'img/header.bg.png' ) no-repeat center center;
  font-size: 14px;
  height: 145px;
  position: relative;
  #logo {
    left: 65px;
    position: absolute;
    top: 50px;
  }

  #block-system-main-menu {
    float: right;
    .content {
      ul.menu {
        display: inline-block;
        list-style: none;
        margin: 50px 65px 10px 0;
        li {
          display: inline-block;
          list-style: none;
          margin: 0 0 0 15px;
          padding: 0;
          a {
            color: #4A622B;
            text-decoration: none;
            &.active,
            &:hover {
              color: #C1FF6F;
            }
          }
        }
      }
    }
  }
}

#main-wrapper {
  padding: 65px;
  h1,
  h2 {
      color: $hover;
      font-size: 24px;
      font-weight: normal;
      font-style: italic;
      line-height: 1.5em;
  }

  p {
      margin-bottom: 1.5em;
  }

  .node-project {
      @extend .full-column-float;
      .group-left {
          @extend .column-2;
          margin-right: $gutter;
      }
      .group-right {
          @extend .column-3-float;
          .field-type-image {
              .main-image {
                  border: 1px solid $hover;
                  margin-bottom: $gutter;
              }
              .field-items {
                  .field-item {
                      float: left;
                      margin: 0 $gutter $gutter 0;
                      img {
                          border: 1px solid $hover;
                          display: block;
                          height: $column6 * 3 / 4 - 2;
                          line-height: 0;
                          width: $column6 - 2;
                      }
                  }
              }
          }
      }
  }
}

.field-type-image {
    margin-bottom: $gutter;
    a {
        border: 1px solid $hover;
        display: block;
        line-height: 0;
    }
}

.panels-flexible-region {
    width: 100%;
}

.item-list {
    .pager {
        padding-right: $gutter * 2;
    }
}
